* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(123 153 143);

}

.hidden {
    display: none !important;
}

.keyword {
    user-select: none;       
    cursor: pointer;        
  }