@media (max-width: 640px) {
  body {
    height: 100vh;
  }

  .btn-control-line-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .change-font {
    width: 10%;
    max-width: 100px;
    letter-spacing: 2px;
  }

  .memes-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: slategray;
  }
}

@media (min-width: 640px) {
  .memes-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px 1fr));
    gap: 20px;
    padding: 20px;
  }

  .canvas-container {
    aspect-ratio: 1 / 1;
    max-height: 450px;
    justify-self: end;
  }

  .editor-container {
    height: 100%;
    max-height: 450px;
    width: 100%;
    /* max-width: 450px; */
    /* padding: 15px; */
  }

  .main-header {
    width: 100%;
    height: 100px;
    grid-template-columns: 4fr 8fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "lo . bs . mb . gb .";
}

.logo {
    grid-area: lo;
    height: 100px;
    font-size: 38px; 
    letter-spacing: 6px;  
    padding: 24px 48px; 
}



.gallery-btn {
    grid-area: gb;
    background-color: transparent;
    border-bottom: none;
}

.memes-btn {
    grid-area: mb;
    background-color: transparent;
    border-bottom: none;
}

.btn-saved {
    grid-area: bs;
    background-color: transparent;
    border-bottom: none;
}

.gallery-btn, .memes-btn, .btn-saved {
  height: 100px; 
  width: 100px;
  font-size: 20px;
}

}

@media (min-width: 930px) {
  .memes-container {
    grid-template-columns: 3fr 3fr;
    gap: 30px;
  }

  .canvas-container {
    max-height: 450px;
  }

  .editor-container {
    padding: 20px;
  }

  .btn-line-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}