.main-header {
    width: 100%;
    height: 40px;
    background-color: bisque;
    grid-template-columns: 4fr 8fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "lo . bs . mb . gb .";
    margin-bottom: 20px;
}

.logo {
    grid-area: lo;
    height: 40px;
    font-size: 30px; 
    padding: 5px 30%; 
    border-radius: 10px; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}



.gallery-btn {
    grid-area: gb;
    background-color: transparent;
    border-bottom: none;
}

.memes-btn {
    grid-area: mb;
    background-color: transparent;
    border-bottom: none;
}

.btn-saved {
    grid-area: bs;
    background-color: transparent;
    border-bottom: none;
}

.gallery-btn, .memes-btn, .btn-saved {
    height: 40px; 
    width: 60px;
    color: black;
    font-size: 12px;
}